{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1>Список работников</h1>

    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Дата рождения</th>
                <th>ИНН</th>
                <th>СНИЛС</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td><a href="{{ path('users_show', { 'id': user.id }) }}">{{ user.lastname }}</a></td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.middlename }}</td>
                <td>{% if user.birth %}{{ user.birth|date('Y-m-d') }}{% endif %}</td>
                <td>{{ user.tin }}</td>
                <td>{{ user.snils }}</td>
                <td>
                    <a class="btn btn-default" href="{{ path('users_show', { 'id': user.id }) }}">Показать</a>
                    <a class="btn btn-default" href="{{ path('users_edit', { 'id': user.id }) }}">Редактировать</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a class="btn btn-default" href="{{ path('users_new') }}">Создать работника</a>
        </li>
    </ul>
{% endblock %}
