{% extends 'AppBundle::base.html.twig' %}
{% block body %}
    {% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
    <h1>Редактирование организации</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <a class="btn btn-default" href="{{ path('organizations_index') }}">Вернуться</a>
        <input class="btn btn-default" type="submit" value="Редактировать" />
        <button class="btn btn-default" type="button" id="organization" value="{{ organization.id }}" data-toggle="modal" data-target="#organizationDeleteModal">Удалить организацию</button>
    {{ form_end(edit_form) }}

    {% include 'AppBundle::modal.html.twig' %}
{% endblock %}
