{% extends 'AppBundle::base.html.twig' %}

{% block body %}

    {% if app.session.flashbag.peekAll|length > 0 %}
        {% for type, messages in app.session.flashbag.all %}
            {% for message in messages %}
                <div class="{{ type ? type : '' }}">
                    {{ message|trans({}, domain|default('messages')) }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
    <h1>Список организаций</h1>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>{{ 'title'|trans }}</th>
                <th>{{ 'OGRN'|trans }}</th>
                <th>{{ 'OKTMO'|trans }}</th>
                <th>{{ 'number'|trans }}</th>
                <th>{{ 'actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for organization in organizations %}
            <tr>
                <td><a href="{{ path('organizations_show', { 'id': organization.id }) }}">{{ organization.title }}</a></td>
                <td>{{ organization.ogrn }}</td>
                <td>{{ organization.oktmo }}</td>
                <td>{{ organization.id }}</td>
                <td>
                    <a class="btn btn-default" href="{{ path('organizations_show', { 'id': organization.id }) }}">Показать</a>
                    <a class="btn btn-default" href="{{ path('organizations_edit', { 'id': organization.id }) }}">Редактировать</a>
                    <button class="btn btn-default" type="button" id="organization" value="{{ organization.id }}" data-toggle="modal" data-target="#organizationDeleteModal">Удалить организацию</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-default" href="{{ path('organizations_new') }}">{{ 'create.organization'|trans }}</a>
    {% include 'AppBundle::modal.html.twig' %}
{% endblock %}
