{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1>Организации</h1>

    <table class="table table-responsive">
        <tbody>
            <tr>
                <th>{{ 'number'|trans }}</th>
                <td>{{ organization.id }}</td>
            </tr>
            <tr>
                <th>{{ 'title'|trans }}</th>
                <td>{{ organization.title }}</td>
            </tr>
            <tr>
                <th>{{ 'OGRN'|trans }}</th>
                <td>{{ organization.ogrn }}</td>
            </tr>
            <tr>
                <th>{{ 'OKTMO'|trans }}</th>
                <td>{{ organization.oktmo }}</td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-default" href="{{ path('organizations_index') }}">{{ 'back.to.list'|trans }}</a>
    <a class="btn btn-default" href="{{ path('organizations_edit', { 'id': organization.id }) }}">{{ 'edit'|trans }}</a>
    <button class="btn btn-default" type="button" id="organization" value="{{ organization.id }}" data-toggle="modal" data-target="#organizationDeleteModal">{{ 'delete'|trans }}</button>
    {% if users %}
    <h2>{{ 'person.organization'|trans }}</h2>
    <table class="table table-responsive">
        <thead>
            <th>{{ 'number'|trans }}</th>
            <th>{{ 'lastname'|trans }}</th>
            <th>{{ 'firstname'|trans }}</th>
            <th>{{ 'middlename'|trans }}</th>
            <th>{{ 'birth'|trans }}</th>
            <th>{{ 'TIN'|trans }}</th>
            <th>{{ 'SNILS'|trans }}</th>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.middlename }}</td>
                <td>{{ user.birth|date("d/m/Y") }}</td>
                <td>{{ user.tin }}</td>
                <td>{{ user.snils }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {% include 'AppBundle::modal.html.twig' %}
{% endblock %}
