{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1>{{ 'list.person'|trans }}</h1>

    <table class="table table-responsive">
        <thead>
            <tr>
                <th>{{ 'number'|trans }}</th>
                <th>{{ 'organization'|trans }}</th>
                <th>{{ 'lastname'|trans }}</th>
                <th>{{ 'firstname'|trans }}</th>
                <th>{{ 'middlename'|trans }}</th>
                <th>{{ 'birth'|trans }}</th>
                <th>{{ 'TIN'|trans }}</th>
                <th>{{ 'SNILS'|trans }}</th>
                <th>{{ 'actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.organization.title }}</td>
                <td><a href="{{ path('users_show', { 'id': user.id }) }}">{{ user.lastname }}</a></td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.middlename }}</td>
                <td>{% if user.birth %}{{ user.birth|date('Y-m-d') }}{% endif %}</td>
                <td>{{ user.tin }}</td>
                <td>{{ user.snils }}</td>
                <td>
                    <a class="btn btn-default" href="{{ path('users_show', { 'id': user.id }) }}">{{ 'show'|trans }}</a>
                    <a class="btn btn-default" href="{{ path('users_edit', { 'id': user.id }) }}">{{ 'edit'|trans }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a class="btn btn-default" href="{{ path('users_new') }}">{{ 'create'|trans }}</a>
        </li>
    </ul>
{% endblock %}
