{% extends 'base.html.twig' %}
{% block body %}
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    <h1>{{ 'create.person'|trans }}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-default" type="submit" value="{{ 'create'|trans }}" />
        <a class="btn btn-default" href="{{ path('users_index') }}">{{ 'back.to.list'|trans }}</a>
    {{ form_end(form) }}

{% endblock %}
