{% extends 'base.html.twig' %}

{% block body %}
    <h1>Работник</h1>

    <table class="table table-responsive">
        <tbody>
            <tr>
                <th>{{ 'number'|trans }}</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>{{ 'organization'|trans }}</th>
                <td>{{ user.organization.title }}</td>
            </tr>
            <tr>
                <th>{{ 'lastname'|trans }}</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>{{ 'firstname'|trans }}</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>{{ 'middlename'|trans }}</th>
                <td>{{ user.middlename }}</td>
            </tr>
            <tr>
                <th>{{ 'birth'|trans }}</th>
                <td>{% if user.birth %}{{ user.birth|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>{{ 'TIN'|trans }}</th>
                <td>{{ user.tin }}</td>
            </tr>
            <tr>
                <th>{{ 'SNILS'|trans }}</th>
                <td>{{ user.snils }}</td>
            </tr>
        </tbody>
    </table>

    {{ form_start(delete_form) }}
        <a class="btn btn-default" href="{{ path('users_index') }}">{{ 'back.to.list'|trans }}</a>
        <a class="btn btn-default" href="{{ path('users_edit', { 'id': user.id }) }}">{{ 'edit'|trans }}</a>
        <input class="btn btn-default" type="submit" value="{{ 'delete'|trans }}">
    {{ form_end(delete_form) }}
{% endblock %}
