{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <a class="btn btn-default" href="{{ path('organizations_index') }}">{{ 'organizations'|trans }}</a>
        <a class="btn btn-default" href="{{ path('users_index') }}">{{ 'persons'|trans }}</a>
        <a class="btn btn-default" href="{{ path('app_import') }}">{{ 'import'|trans }}</a>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
